@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #efefbb;
  background: linear-gradient(to right, #d4d3dd, #efefbb);
  font-family: 'Montserrat', open-sans;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /*cross axis here column so horizontal*/
  justify-content: center; /*main axis here column so vertical*/
}

h1 {
  font-size: 2rem;
  margin: 10px;
  letter-spacing: 2px;
}

.pokemon-container {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  align-content: space-between;
}

.pokemon {
  background-color: #eee;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}

.pokemon .img-container {
  background-color: #fff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.pokemon .img-container img {
  margin-top: 10px;
  max-width: 90%;
}

.pokemon .info {
  margin-top: 20px;
}

.pokemon .number {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.pokemon .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.options {
  font-family: inherit;
  background-color: #eee;
  border: none;
  padding: 10px 5px;
  outline: none;
  width: 100px;
  border-radius: 10px;
}
